<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room Selection</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    .room-list {
      list-style: none;
      padding: 0;
    }

    .room-list li {
      margin-bottom: 10px;
    }

    .room-list li label {
      display: block;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .room-list li label:hover {
      background-color: #e6e6e6;
    }

    .room-list li input[type="radio"] {
      display: none;
    }

    .room-list li input[type="radio"]:checked + label {
      background-color: #3498db;
      color: #fff;
    }

    .room-list li input[type="radio"]:checked + label::before {
      content: '✔';
      margin-right: 5px;
    }

    .new-room-input {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .confirm-button  {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .add-button  {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #34db74;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .confirm-button:hover {
      background-color: #2980b9;
    }

    .add-button:hover {
      background-color: #2980b9;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Select or Create a Chat Room</h1>
    <ul class="room-list">
      <% rooms.forEach((room) => {%>
        <li>
          <input type="radio" id="<%= room.id %>" name="room" value="<%= room.name %>">
          <label style="text-transform: capitalize;" for="<%= room.id %>"><%= room.name %></label>
        </li>
      <% }) %>
      <li>
        <input type="radio" id="newRoom" name="room" value="new">
        <label style="background-color: greenyellow;" for="newRoom">Create New Room</label>
      </li>
    </ul>

    <button class="confirm-button">Confirm</button>
    <form id="newRoomForm" action="/rooms/add" method="POST">
      <input name="name" type="text" id="newRoomName" class="new-room-input" placeholder="Enter new room name" style="display: none;">
      <input name="password" type="password" id="newRoomPassword" class="new-room-input" placeholder="Password" style="display: none;">
      <button style="display: none;" class="add-button">Add</button>
    </form>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>

      const newRoomNameInput = $('#newRoomName');
      const newRoomPasswordInput = $('#newRoomPassword');
      const addButton = $('.add-button');
      const confirmButton = $('.confirm-button');

      $.ajaxSetup({
          beforeSend: function(xhr) {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          }
      });

      $('#newRoom').change(function() {

        if ($(this).prop('checked')) {
            newRoomNameInput.show();
            newRoomPasswordInput.show();
            addButton.show();
            confirmButton.hide();
        } else {
            newRoomNameInput.hide();
            newRoomPasswordInput.hide();
            addButton.hide();
            confirmButton.hide();
        }
    });


      $('.confirm-button').on('click', function(e){

        e.preventDefault();

        const selectedRoom = $('input[name="room"]:checked').val();

        if (selectedRoom) {

            window.location.href = `/rooms/${selectedRoom}`
        } else {

            alert('Please select a room');
        }
    });


      $('#newRoomForm').on('submit', function(e) {

        e.preventDefault()

        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize() ,
            success: function (data) {
              window.location.href = `rooms/${data.name}`
            },
            error: (e)=>{
              alert('The room is already exists')
            }
        })

      })


  </script>
</body>
</html>
